@import "./_custom.scss";
@import '~bootstrap/scss/bootstrap.scss';
$fa-font-path:"../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/pikaday/css/pikaday.css";

.section {
  @include clearfix;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.section:last-child {
  @include clearfix;
  border: none;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.shadow {
  box-shadow: 0px 2px 5px #ccc;
}
